@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

@font-face {
    font-family: 'Avenir';
    src: url('/EASIWebOrder_SATS/public/fonts/Avenir_95_Black.ttf'),
        url('/EASIWebOrder_SATS/public/fonts/Avenir-Black-webfont.woff'),
        url('/EASIWebOrder_SATS/public/fonts/avenir-black.woff2'),
        url('/EASIWebOrder_SATS/public/fonts/Avenir-Black-webfont.eot'),
        url('/EASIWebOrder_SATS/public/fonts/Avenir-Black.svg');
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('/EASIWebOrder_SATS/public/fonts/AEH.ttf'),
        url('/EASIWebOrder_SATS/public/fonts/avenir-heavy-webfont.woff'),
        url('/EASIWebOrder_SATS/public/fonts/avenir-heavy-webfont.woff'),
        url('/EASIWebOrder_SATS/public/fonts/Avenir-Heavy.eot'),
        url('/EASIWebOrder_SATS/public/fonts/Avenir-Heavy.svg'); 
}

* {
    box-sizing: border-box
} 


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none !important;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

body {
    position: relative;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.loader,
.master-loader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 12;
    /* background: url('loader.gif') 50% 50% no-repeat rgba(41, 40, 40, 0.36); */
    background: url('loader.gif') 50% 50% no-repeat rgb(199, 199, 199);
    background-size: 200px 200px;
}

div[name=itemsCartLoader] {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: url('loader.gif') 50% 50% no-repeat white;
    background-size: 200px 200px;
}


/* outlet selection */

.outlet-div {
    width: 50%;
}

.outlet-select-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
}

.centerize-outlet-selection,
.outlet-select-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* end outlet selection */

#headerDiv {
    background-color: white;
    box-shadow: 0 0 25px #000;
}

.navbar-default .navbar-nav>li>a {
    color: #58595b !important;
}

.navbar-nav>li>.dropdown-menu {
    background-color: white !important;
}

.modal-footer button {
    display: block;
    margin: 0 auto;
    color: #fff!important;
    background-color: #4CAF50!important;
}

.modal-footer button:hover {
    background-color: #8bc34a!important;
}

#header-logo {
    width: auto;
    height: 100%;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

body {
    background: #ffffff;
    margin: 0;
    height: 100%;
    color: #5d6174;
    font-family: 'Avenir';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Avenir Heavy';
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #01b2fe;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

.centered {
    text-align: center
}


/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 0px 15px;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #00b3fe;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #00b3fe !important;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}

.dropdown-menu {
    background: #384452;
}

.dropdown-menu>li>a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.btn-theme {
    color: #fff;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #00b3fe;
    border-color: #00b3fe;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus {
    color: #ffffff;
    background-color: #222222;
    border-color: #ffffff;
}

.dmbutton {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing: 0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}

.mtb {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mb {
    margin-bottom: 60px;
}

.mt {
    margin-top: 60px;
}

.hline {
    border-bottom: 2px solid #384452;
}

.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}


/*	################################################################
	SITE WRAPS
################################################################# */

#headerwrap {
    background-color: #00b3fe;
    min-height: 550px;
    padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
}

#headerwrap h3,
h5 {
    color: white;
    font-weight: 400;
}

#headerwrap h1 {
    color: white;
    margin-bottom: 25px;
}

#headerwrap .img-responsive {
    margin: 0 auto;
}


/* Services Wrap */

#service {
    margin-top: 100px;
    margin-bottom: 80px;
}

#service i {
    color: #00b3fe;
    font-size: 60px;
    padding: 15px;
}


/* Portfolio Wrap */

#portfoliowrap {
    padding-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: center
}

#portfoliowrap h3 {
    margin-bottom: 25px;
}

.portfolio {
    padding: 0 !important;
    margin: 0 !important;
    display: block;
}

.portfolio-item .title:before {
    border-radius: 0;
    display: none
}

.portfolio-item p {
    margin: 0px 0 30px;
}

.portfolio-item h3 {
    margin: -10px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.tpl6 h3 {
    color: #fff;
    margin: 0;
    padding: 40px 5px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.tpl6 .dmbutton {
    display: inline-block;
    margin: 30px 5px 20px 5px;
    font-size: 13px;
}

.tpl6 .bg {
    height: 100%;
    width: 100%;
    background-color: #00b3fe;
    background-color: rgba(0, 179, 254, .9);
    text-align: center;
}


/* Testimonials Wrap */

#twrap {
    margin-top: 0px;
    padding-top: 130px;
    /*	text-align:center;*/
    background-attachment: relative;
    background-position: center center;
    height: 100%;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*#twrap i {
	font-size: 50px;
	color: white;
	margin-bottom: 25px;
}*/

#twrap p {
    color: white;
    font-size: 15px;
    line-height: 30px;
}


/* clients logo */

#cwrap {
    background: #f7f7f7;
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 100px;
}

#cwrap h3 {
    margin-bottom: 60px;
}


/* Footer */

#footerwrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #384452;
    width: 100%;
    bottom: -10px;
    position: absolute;
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: white;
}

#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #00b3fe
}

#blue {
    background: #00b3fe;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#blue h3 {
    color: white;
    margin-left: 15px;
}

.ctitle {
    color: #00b3fe;
    font-weight: 700;
    margin-bottom: 15px;
}

csmall {
    font-size: 12px;
    color: #b3b3b3;
}

csmall2 {
    font-size: 12px;
    color: #f39c12
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.badge-theme {
    background: #00b3fe;
}


/* Contact Page */

#contactwrap {
    background: url(../img/contact.jpg) no-repeat center top;
    margin-top: -60px;
    padding-top: 0px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Blog Page */

.popular-posts {
    margin: 0px;
    padding-left: 0px;
}

.popular-posts li {
    list-style: none;
    margin-bottom: 20px;
    min-height: 70px;
}

.popular-posts li a,
.popular-posts li a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

.popular-posts li img {
    float: left;
    margin-right: 20px;
}

.popular-posts li em {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #b3b3b3
}

.popular-posts p {
    line-height: normal;
    margin-bottom: auto;
}

.share i {
    padding-right: 15px;
    font-size: 18px;
}


/* login page */

#facebookDiv,
#googleDiv {
    width: 25%;
}

#continueGuestBtn,
#continueAsBtn {
    color: #002561;
    border: 2px solid #002561;
    text-transform: uppercase;
    background-color: #ededed;
}

#continueGuestBtn:hover,
#continueAsBtn:hover {
    background-color: #002561;
    color: white;
}

.contact-form {
    background: #fff;
    /*    padding: 7%;
    margin-top: 23%;*/
    position: relative;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
}

.contact_form {
    width: 55%;
    background: url(../images/border.png) no-repeat 331px 77px;
    float: left;
    position: relative;
}

.account {
    float: right;
    width: 45%;
}


/* login page */


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg 
    opacity: 0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
    background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: #ededed;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}

.omb_login .omb_loginForm .help-block {
    color: red;
}

.product_details img {
    padding: 10px;
}

.product_details div.input-group {
    margin: auto;
    width: 46%;
}

.product_details div.input-group span a {
    padding: 5px 11px !important;
    border: 1px solid #ccc;
}

span[id^="mobile_modalProductQuantity_"] {
    width: 55px !important;
    height: 32px;
    padding: 2px;
}

.product_details p.price {
    padding-top: 3px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top: 10px;
    }
}

@media (max-width: 800px) {
    .quantity-input {
        width: 100% !important;
    }
    .terms-col {
        width: 100% !important;
    }
    .amount-col {
        width: 100% !important;
    }
    .outer-container {
        padding-bottom: 200px !important;
    }
}

@media all and (min-width: 801px) {
    .outer-container {
        padding-bottom: 0px !important;
    }
}


/* mobile */

@media only screen and (max-device-width: 768px) {
    .outer-container {
        padding-bottom: 0px !important;
    }
    #footerwrap {
        bottom: 0px;
        position: relative;
    }
    .outlet-div {
        width: 80%;
    }
    .nav-up {
        top: -70px;
    }
    #menuList {
        margin-top: 10px;
    }
    .master-wrapper {
        padding: 65px 0px 0px 0px;
    }
    /* home view */
    #webContainer {
        display: none;
    }
    #mobileContainer {
        display: block;
    }
    .mobile-home-title {
        border-bottom: 1px solid #e9e4dc;
        padding-bottom: 7px;
    }
    .mobile-caret-down {
        height: 10px !important;
        bottom: 44px;
    }
    #mobile-footer {
        display: block;
    }
    #groupList {
        width: 100%;
        background-color: orange;
    }
    #groupList ul {
        /*padding: 10px 10px 0px 10px;*/
        padding: 0px;
    }
    .mobile-group-tabs li.active {
        color: black !important;
        font-weight: bold;
    }
    .modal-dialog {
        width: 500px !important;
    }
    .choices-toppings__wrapper {
        overflow: hidden;
        margin-top: 10px;
    }
    /* success view */
    #success-invoice {
        width: 100%;
    }
    /* success view */
    .checkout-review-order-delete-product {
        display: block !important;
    }
    /* cart view */
    #cart-invoice {
        width: 100%;
    }
    .cartRow {
        padding: 0px;
    }
    #itemsCart,
    #emptyCart {
        border: none !important;
    }
    .terms-col {
        width: 100% !important;
    }
    .amount-col {
        width: 100% !important;
    }
    .quantity-input {
        width: 45%;
    }
    .pay-div {
        text-align: center;
    }
    #payAtKioskBtn {
        width: 100%;
        height: 40px;
        float: none !important;
    }
    .terms-col p,
    .amount-col p {
        text-align: center;
        font-weight: 700;
        border-bottom: 1px solid #e9e4dc;
        font-size: 18px;
    }
    .amount-col div.table-responsive {
        border: none;
    }
    .checkout-review-order-delete-product {
        display: inline-block;
    }
    #productTitle {
        margin-left: 30px;
    }
    /* end cart view */
    /* login view */
    #facebookDiv,
    #googleDiv {
        width: 50%;
    }
    #loginContainer {
        padding: 32px;
    }
    .omb_login .omb_authTitle {
        line-height: 155% !important;
    }
    .omb_authTitle {
        margin-top: 0px !important;
    }
    /* end login view*/
}

@media screen and (device-width: 320px) and (device-height: 568px) {
    .modal-dialog {
        width: 283px !important;
    }
    .quantity-input {
        width: 100% !important;
    }
}


/* ipad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        position: relative;
    }
    .outlet-div {
        width: 60%;
    }
    #footerwrap {
        bottom: -105px;
        position: absolute;
    }
    .master-wrapper {
        padding: 130px 0px 400px 0px;
    }
    /* success view */
    #success-invoice {
        width: 50%;
    }
    /* end success view */
    /* cart view */
    #cart-invoice {
        width: 80%;
    }
    .quantity-input {
        width: 24% !important;
    }
    #productTitle {
        margin-left: 0px;
    }
    #payAtKioskBtn {
        width: 45%;
    }
    /*	#cartTbl2 tbody tr th, #cartTbl2 tbody tr td {
    	border: 1px solid #ddd;
	}*/
    /* end cart view */
    /* login view */
    #facebookDiv,
    #googleDiv {
        width: 25%;
    }
    #loginContainer {
        padding: 0px;
    }
    /* end login view */
    .mobile-product-modal,
    #selectOutletModal .modal-dialog {
        width: 474px !important;
    }
    .product_details img {
        width: 70%;
    }
    .product_details div.input-group {
        width: 28%;
    }
    #emptyCart {
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .omb_login {
        height: 400px;
        padding-top: 50px;
    }
}


/* end mobile */